*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.layout , main , span,.actions,.contents,.form{
    display: flex;
}
.layout{
    height: 100vh;
    flex-direction: column;
    
}
main{
    height: 70%;
    width: 100%;
    justify-content: center;
}

header{
    height: 15%;
   
}
footer{
    height: 15%;
    
}
span{
    padding:10px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}
table .email{
    padding-left: 12%;
}
.actions{
    display: flex;
    align-items: center;
    margin-top: 20%;
    height: 100%;
}
.form{
    margin-left: 10%;
    align-items: center;
}
.create{
    background-color: rgb(255, 255, 0);
}
.delete{
    background-color: #dc3545 
}
#test{
    width: 20%;
    transition: 0.3s;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    margin-left: 500px;
    margin-top: 100px;
}

